@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
body {
  font-family: sans-serif, Ubuntu ;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  padding: 0;
}

.container {
  max-width: 80%;
  margin: 0;
  padding: 0 20px;
}
.intron {
  max-width: 80%;
  text-align: center;
  margin: 0;
  padding: 0 20px;
}

header {
  background-color: #1d2749;
  color: #fff;
  padding: 10px 0;
}

header h1 {
  margin: 0;
  font-size: 50px;
}

header h2 {
  margin: 0;
  font-size: 20px;
}
header h3 {
  margin: 0;
  font-size: 10px;
}
.logo {
  height: 35px; /* Adjust the height as desired */
  width: auto; /* The width will adjust proportionally based on the height */
}
nav {
  background-color: #0c152e;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
}

nav ul li a:hover {
  background-color: #162649;
}
main {
  padding: 0 0;
}
/* For fun: Text effect */
.hover-text {
  font-family: Arial, sans-serif;
  font-size: 60px;
  transition: all 0.3s ease; /* Optional: Adds a smooth transition effect */
}

.hover-text:hover {
  font-family: Verdana, sans-serif;
  font-size: 80px;
}
.hover-small {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30;
  text-align: center;
  transition: all 0.3s ease; /* Optional: Adds a smooth transition effect */
}
.hover-small:hover {
  font-family: Verdana, sans-serif;
  font-size: 36px;
}
.error {
  text-align: center;
}
.error h1 {
  font-family: cursive;
  font-size: 60px;
  transition: all 0.3s ease; 
}
.error h1:hover {
  font-family: cursive;
  font-size: 70px;
  transition: all 0.3s ease; 
}
.error h2 {
  font-family: cursive;
  font-size: 40px;
  transition: all 0.3s ease; 
}
.error h2:hover {
  font-family: cursive;
  font-size: 50px;
}
.error h3 {
  font-family: cursive;
  font-size: 20px;
  margin-left: 20%;
}

.center-text {
  text-align: center;
}
.left-text {
  text-align: left;
}

footer {
  background-color: #f5f5f5;
  padding: 20px 0;
  text-align: center;
}

/*function loading*/
#loading-bar {
  width: 100%;
  height: 4px;
  background-color: #f1f1f1;
}

#loading-progress {
  height: 100%;
  width: 0;
  background-color: #3498db;
  animation: loading-animation 4s infinite;
}

@keyframes loading-animation {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

/* blsnk psty*/
.blank-part {
  height: 50px; /* Adjust the height  */
}

/* home button */
.home-button {
  padding: 10px 20px;
  background-color: #010632;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none; /* Remove underline */
}
.red-button {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none; /* Remove underline */
}
.blue-button {
  padding: 10px 20px;
  background-color: #0008ff;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none; /* Remove underline */
}




#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#terminal {
  width: 70vw;
  height: 65vh;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
}
#terminal__bar {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(#504b45 0%,#3c3b37 100%);
}
#bar__buttons {
  display: flex;
  align-items: center;
}
.bar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 5px;
  font-size: 8px;
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 100%;
  background: linear-gradient(#7d7871 0%, #545454 100%);
  text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
  box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
}
.bar__button:hover {
  cursor: pointer;
}
.bar__button:focus {
  outline: none;
}
#bar__button--exit {
  background: linear-gradient(#f62a2a 0%, #de4c12 100%);
  background-clip: padding-box;
}
#bar__user {
  color: #d5d0ce;
  margin-left: 6px;
  font-size: 14px;
  line-height: 15px;
}
#terminal__body {
  background: rgba(8, 4, 25, 0.631);
  font-family: 'Ubuntu Mono';
  height: calc(100% - 30px);
  padding-top: 2px;
  margin-top: -1px;
}
#terminal__prompt {
  display: flex;
}
#terminal__prompt--user {
  color: #ff0000;
}
#terminal__prompt--location {
  color: #0066ff;
  margin-right: 9px;
}
#terminal__prompt--location2 {
  color: #02ff28;
  margin-left: 9px;
}
#terminal__prompt--bling {
  color: #afafaf;
}
#terminal__prompt--respons {
  color: #ffffff;
}
#terminal__prompt--cursor {
  display: block;
  height: 17px;
  width: 8px;
  margin-left: 9px;
  animation: blink 1200ms linear infinite;
}
@keyframes blink {
  0% {
    background: #ffffff;
  }
  49% {
    background: #ffffff;
  }
  60% {
    background: transparent;
  }
  99% {
    background: transparent;
  }
  100% {
    background: #ffffff;
  }
}
@media (max-width: 600px) {
  #terminal {
    max-height: 90%;
    width: 90%;
  }
}