.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #e5e5e5;
    color: #000000;
    padding: 10px;
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .he {
    max-width: 100%;
    background-color: #1d2749;
    color: #ffffff;
  }

  .he h2 {
    color: #ffffff;
    text-align: center;
  }
  .cookie-banner h1 {
    text-align: center;
  }
  .cookie-banner h2 {
    text-align: center;
  }
  .cookie-banner p {
    text-align: left;
  }
  .cookie-banner .header-line {
    background-color: rgb(255, 0, 217);
    color: #e5e5e5;
    border-color: #000000;
    
  }
  
  .cookie-banner .accept-button {
    background-color: #1a4ffe;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  
  