.content {
    padding: 1px;
    margin: 1px auto 1px; /* Adjust the top and bottom margin to create space for the fixed header */
    max-width: 90%;
    background-color: #f2fad1;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

.foldable-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
  
.foldable-content.open {
    max-height: 500px; /* Adjust this value to your desired maximum height */
}

.foldable-button {
    padding: 5px 10px;
    background-color: #eaeaea;
    color: #000000;
    font-size: 16px;
    border-radius: 2px;
}
.foldable-button::after {
    display: inline-block;
    transition: transform 0.2s ease-out;
}
  
.foldable-content.open + .foldable-button::after {
    transform: rotate(180deg);
}